%table.recording-list.table.table-hover
  %thead
    %tr
      %th.col-sm-1.treino-exer-cpf-col= "CPF"
      %th.col-sm-1.treino-exer-nome_treino-col= "Nome do Treino"
      %th.col-sm-1.treino-exer-data_inicio-col= "Data início"
      %th.col-sm-1.treino-exer-nome_exercicio-col= "Nome Exercício"
      %th.col-sm-1.treino-exer-serie-rep-col= "Séries/Repetições"
      %th.col-sm-1.treino-exer-intervalo-carga-col= "Intervalo/Carga"
      %th.col-sm-1.treino-exer-tempo-velocidade-col= "Tempo/Velocidade"
      %th.col-sm-1.treino-exer-inclinacao-nivel-col= "Inlcinação/Nivel"
      %th.col-sm-3.treino-exer-observacao-col= "Observação"
      %th.col-sm-1.delete-col
  
  %tbody
    - if TreinoExercicio.all.count <= 0
      %tr
        %td.nenhum{ colspan: 12 }= "Nenhum Treino-Exercício Cadastrado"
    
    - TreinoExercicio.all.each do |te|
      = render partial: 'treino_exercicio_item', locals: { treino_exer: te }