%table.recording-list.table.table-hover
  %thead
    %tr
      %th.col-sm-3.rec-url-col= "RECORDING URL"
      %th.col-sm-3.rec-chat-col= "CHAT CONTENTS"
      %th.col-sm-3.rec-slide-col= "SLIDES CONTENTS"
      %th.col-sm-3.rec-name-col= "RECORDING NAME"
  
  %tbody
    - if Recording.all.count <= 0
      %tr
        %td.nenhum{ colspan: 12 }= "Nenhuma Gravação no BD"
    
    - unless params[:q].present?
      - Recording.all.each do |r|
        = render partial: 'recordings/recording_item', locals: { rec: r }

    - if params[:q].present?
      .results
        - Recording.search{keywords [params[:q]]}.each_hit_with_result do |hit, rec|
          .result

            %tr
              %td.rec-url-col
                =rec.url
                %h6== Hit Value: (#{h hit.score})
              %td.rec-chat-col
                =rec.chat
              %td.rec-slide-col
                =rec.slide
              %td.rec-name-col
                =rec.name
