%table.recording-list.table.table-hover
  %thead
    %tr
      %th.col-sm-1.rec-url-col= "RECORDING URL"
      %th.col-sm-1.rec-title-col= "RECORDING TITLE"
      %th.col-sm-1.description= "DESCRIPTION"
      %th.col-sm-1.author= "AUTHOR"
      %th.col-sm-1.institution= "INSTITUTION"
      %th.col-sm-4.rec-chat-col= "CHAT CONTENTS"
      %th.col-sm-3.rec-slide-col= "SLIDES CONTENTS"
  
  %tbody
    - if Recording.all.count <= 0
      %tr
        %td.nenhum{ colspan: 12 }= "Nenhuma Gravação no BD"
    
    - unless params[:q].present?
      - Recording.all.each do |r|
        = render partial: 'recordings/recording_item', locals: { rec: r }

    - if params[:q].present?
      .results
        - Recording.search{keywords [params[:q]]}.each_hit_with_result do |hit, rec|
          .result

            %tr
              %td.rec-url-col
                - if rec.published
                  =link_to rec.url, rec.url
                - else
                  %p <font color='red'> <em>This recording is not available for download </font> </em>
                %h6== Hit Value: (#{h hit.score})
              %td.rec-title-col
                =rec.title
              %td.description
                =rec.description
              %td.author
                =rec.author
              %td.institution
                =rec.institution
              %td.rec-chat-col
                -if rec.chat.present?
                  =rec.chat.slice(0, 150)
                  -if rec.chat.size > 150
                    = link_to "teste", "link"
                - else
                  %p <font color='red'> <em>There was no chat logs for this recording</font> </em>
              %td.rec-slide-col
                - if rec.slide.present?
                  =rec.slide
                - else
                  %p <font color='red'> <em>There was no presentation available for this recording</font> </em>