- page_title "Home"
#content
  %h3= "Bem-vindo ao sistema de gestão do banco de dados"
  #buttons
    = link_to "Cadastrar novo Tipo Exercício", new_tipo_exercicio_path, :class => 'btn btn-success btn-block'
    = link_to "Cadastrar novo Aluno", new_aluno_path, :class => 'btn btn-success btn-block'
    = link_to "Cadastrar novo Treino", new_treino_path, :class => 'btn btn-success btn-block'
    = link_to "Cadastrar novo Treino Exercício", new_treino_exercicio_path, :class => 'btn btn-success btn-block'
